/* A style sheet */
/* Separation of concerns */
/* LAST RULE WINS */
/* Multiple rules on the same selector works because multiple stylesheets can occur*/
/* Look into CSS override about margin cancelling */
/* You can apply to classes if class "peep", make sure you declare .peep in css*/

body{
	font-family: "Comic Sans MS";
	background-image: url("https://jonathan081.github.io/images/background.jpeg");
	color: black;
	font-size: 20px;
}

/*
	How to read a CSS file:

	Lines 4 - 9: a single rule
	"body" => selector(in some cases, selector is also HTML element)
	
	Line 5, font-family: "blah blah blah";
	declaration, attribute-value pair aka, key-value pair
	font-family => attribute
	"comic Sans MS" => value
*/	

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

h1 /* centers anything with h1 tag */{
	text-align: center;
	font-family: "Helvetica";
}

h1 /*Previous changes on the same item are overwritten with newest*/{
	font-family: "Times New Roman";
	border: dashed;
	font-size: 60px;
}

h2, h3 /*everything has an imaginary box that can be modified with margins */{
	border dashed;
	font-size:25px;
	margin-left: 10%
}

p{
	margin-left: 15%;
}

.bullet{
	color: white;
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}



